@font-face {
	font-family: "fonts.icons";
	src: url('../fonts/fonts.icons.eot');
	src: url('../fonts/fonts.icons.eot?#iefix') format('eot'),
		url('../fonts/fonts.icons.woff2') format('woff2'),
		url('../fonts/fonts.icons.woff') format('woff'),
		url('../fonts/fonts.icons.ttf') format('truetype'),
		url('../fonts/fonts.icons.svg#fonts.icons') format('svg');
}

@mixin icn-styles {
	font-family: "fonts.icons" !important;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	// speak: none; // only necessary if not using the private unicode range (firstGlyph option)
	text-decoration: none;
	text-transform: none;
}

%icn {
	@include icn-styles;
}

@function icn-char($filename) {
	$char: "";

	@if $filename == aim {
		$char: "\E001";
	}
	@if $filename == angle-down {
		$char: "\E002";
	}
	@if $filename == angle-left {
		$char: "\E003";
	}
	@if $filename == angle-right {
		$char: "\E004";
	}
	@if $filename == angle-up {
		$char: "\E005";
	}
	@if $filename == basketball {
		$char: "\E006";
	}
	@if $filename == checkbox {
		$char: "\E007";
	}
	@if $filename == close {
		$char: "\E008";
	}
	@if $filename == dummy {
		$char: "\E009";
	}
	@if $filename == football {
		$char: "\E00A";
	}
	@if $filename == free {
		$char: "\E00B";
	}
	@if $filename == hokey {
		$char: "\E00C";
	}
	@if $filename == info {
		$char: "\E00D";
	}
	@if $filename == lock-o {
		$char: "\E00E";
	}
	@if $filename == lock {
		$char: "\E00F";
	}
	@if $filename == minus {
		$char: "\E010";
	}
	@if $filename == paid {
		$char: "\E011";
	}
	@if $filename == plus {
		$char: "\E012";
	}
	@if $filename == radio {
		$char: "\E013";
	}
	@if $filename == tenis {
		$char: "\E014";
	}
	@if $filename == user {
		$char: "\E015";
	}

	@return $char;
}

@mixin icn($filename, $insert: before, $extend: true) {
	&:#{$insert} {
		@if $extend {
			@extend %icn;
		} @else {
			@include icn-styles;
		}
		content: icn-char($filename);
	}
}

.icn-aim {
	@include icn(aim);
}
.icn-angle-down {
	@include icn(angle-down);
}
.icn-angle-left {
	@include icn(angle-left);
}
.icn-angle-right {
	@include icn(angle-right);
}
.icn-angle-up {
	@include icn(angle-up);
}
.icn-basketball {
	@include icn(basketball);
}
.icn-checkbox {
	@include icn(checkbox);
}
.icn-close {
	@include icn(close);
}
.icn-dummy {
	@include icn(dummy);
}
.icn-football {
	@include icn(football);
}
.icn-free {
	@include icn(free);
}
.icn-hokey {
	@include icn(hokey);
}
.icn-info {
	@include icn(info);
}
.icn-lock-o {
	@include icn(lock-o);
}
.icn-lock {
	@include icn(lock);
}
.icn-minus {
	@include icn(minus);
}
.icn-paid {
	@include icn(paid);
}
.icn-plus {
	@include icn(plus);
}
.icn-radio {
	@include icn(radio);
}
.icn-tenis {
	@include icn(tenis);
}
.icn-user {
	@include icn(user);
}