+reset()
+styling-tags()
body
    font-family: $beasFont
    font-size: 14px
[class^="icn-"]
	display: inline-block
	&:before
		display: block
[class^="icon-"]
	display: inline-block
[v-cloak]
  display: none

.elements
	+row-flex()
	.col-12
		+col()
		+size(12)
	.col-6
		+col()
		+size(6)
		+size-sm(12)
	.col-4
		+col()
		+size(4)
		+size-sm(12)