%svg-common {
	background: url("../img/sprite-40c30537.svg") no-repeat;
}

.icon-instagram-24x24 {
	@extend %svg-common;
	background-position: 40% 100%;
}

.icon-instagram-24x24-size {
	width: 24px;
	height: 24px;
}

.icon-instagram-28x28 {
	@extend %svg-common;
	background-position: 100% 16.470588235294116%;
}

.icon-instagram-28x28-size {
	width: 28px;
	height: 28px;
}

.icon-letter {
	@extend %svg-common;
	background-position: 0 0;
}

.icon-letter-size {
	width: 112px;
	height: 112px;
}

.icon-like {
	@extend %svg-common;
	background-position: 0 84.41558441558442%;
}

.icon-like-size {
	width: 44px;
	height: 44px;
}

.icon-maestro {
	@extend %svg-common;
	background-position: 41.88422247446084% 73.86363636363636%;
}

.icon-maestro-size {
	width: 27.8px;
	height: 22px;
}

.icon-mail-28x28 {
	@extend %svg-common;
	background-position: 100% 0;
}

.icon-mail-28x28-size {
	width: 28px;
	height: 28px;
}

.icon-master {
	@extend %svg-common;
	background-position: 25.258323765786454% 73.86363636363636%;
}

.icon-master-size {
	width: 29.8px;
	height: 22px;
}

.icon-qiwi {
	@extend %svg-common;
	background-position: 77.50865051903114% 36.36363636363637%;
}

.icon-qiwi-size {
	width: 59.5px;
	height: 22px;
}

.icon-telegram-24x24 {
	@extend %svg-common;
	background-position: 13.333333333333334% 100%;
}

.icon-telegram-24x24-size {
	width: 24px;
	height: 24px;
}

.icon-telegram-28x28 {
	@extend %svg-common;
	background-position: 100% 32.94117647058823%;
}

.icon-telegram-28x28-size {
	width: 28px;
	height: 28px;
}

.icon-telegram-64x64 {
	@extend %svg-common;
	background-position: 80% 0;
}

.icon-telegram-64x64-size {
	width: 64px;
	height: 64px;
}

.icon-viber-28x28 {
	@extend %svg-common;
	background-position: 100% 49.411764705882355%;
}

.icon-viber-28x28-size {
	width: 28px;
	height: 28px;
}

.icon-visa {
	@extend %svg-common;
	background-position: 34.64052287581699% 62.22222222222222%;
}

.icon-visa-size {
	width: 51px;
	height: 18px;
}

.icon-vk-24x24 {
	@extend %svg-common;
	background-position: 0 100%;
}

.icon-vk-24x24-size {
	width: 24px;
	height: 24px;
}

.icon-vk-28x28 {
	@extend %svg-common;
	background-position: 100% 82.3529411764706%;
}

.icon-vk-28x28-size {
	width: 28px;
	height: 28px;
}

.icon-webmoney {
	@extend %svg-common;
	background-position: 76.71232876712328% 47.77777777777778%;
}

.icon-webmoney-size {
	width: 58px;
	height: 18px;
}

.icon-whatsApp-24x24 {
	@extend %svg-common;
	background-position: 26.666666666666668% 100%;
}

.icon-whatsApp-24x24-size {
	width: 24px;
	height: 24px;
}

.icon-whatsApp-28x28 {
	@extend %svg-common;
	background-position: 100% 65.88235294117646%;
}

.icon-whatsApp-28x28-size {
	width: 28px;
	height: 28px;
}

.icon-yandex {
	@extend %svg-common;
	background-position: 0 62.22222222222222%;
}

.icon-yandex-size {
	width: 53px;
	height: 18px;
}

