=retina($url, $ext)
    background-image: url($url+$ext)
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 144dpi)
        background-image: url($url+'@2x'+$ext)

=styling-tags()
    *, *:after, *:before
        -webkit-box-sizing: border-box
        -moz-box-sizing: border-box
        box-sizing: border-box
        padding: 0
        margin: 0
    input, button, select
        &:focus
            outline: none

    select, button, input[type="submit"], input[type="reset"]
        -webkit-appearance: none
        appearance: none
        cursor: pointer
    select::-ms-expand
        display: none

    button, 
    input[type="submit"], 
    input[type="button"], 
    input[type="reset"], 
    select
        cursor: pointer
        &:hover, &:focus
            outline: none
    a
        color: #196ECD        

    h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6

    h1, .h1
        font-size: 36px
        font-weight: bold
    h2, .h2
        font-size: 14px
        font-weight: bold
    h3, .h3
        font-size: 14px
        font-weight: bold
    h4, .h4
        font-size: 14px
    h5, .h5
        font-size: 12px
    h6, .h6
        font-size: 12px

    p, em, strong
        font-size: 14px
    p
        margin-bottom: 25px
        line-height: 1.5
    em
        font-style: italic

    strong
        font-weight: bold
        
    ul
        font-size: inherit
        padding-left: 18px
        li
            list-style: outside disc
            padding-bottom: 10px
            &:last-child
                padding-bottom: 0
    ol
        font-size: inherit
        padding-left: 18px
        li
            list-style: outside decimal
            padding-bottom: 10px
            &:last-child
                padding-bottom: 0
        
    table
        width: 100%
    caption
        font-size: 18px
        padding-bottom: 8px
    th
        padding: 15px 6px
        font-size: 12px
        background: #E5E5E5
        border: 1px solid #DADADA
        text-align: center
        strong
            font-size: inherit
    td
        padding: 15px 6px
        font-size: 12px
        border: 1px solid #E5E5E5
        text-align: center
        &:first-child
            text-align: left
        strong
            font-size: inherit
        
    
=reset-list()
    padding-left: 0
    li
        list-style: none
        padding-bottom: 0
    