#timeoutModal.modalCupon{"v-if" => "show", ":style" => "{opacity:1}"}
    .modalCupon__body
        %a.modalCupon__close{"@click" => "hideModal()"}
            %i.icn-close
        .modalCupon__title.ext Экспресс с кеф 5 на хоккей!
        %p
            Вчера прошел экспресс с кэфом 5 на хоккей.
        %p
            Сегодня наши эксперты уже приготовили для Вас надежный и точный экспресс с кеф 5 также на хоккей!
        %p
            Оформляйте его прямо сейчас и получайте на свой e-mail. Будем выигрывать крупно!
        %a.btns.btns-primary.btns-block{'href' => ""} Хочу экспресс!
%footer.footer
    .wrapper
        .payMethods.footer__payMethods
            %span.payMethods__icon
                %i.icon-webmoney.icon-webmoney-size 
            %span.payMethods__icon
                %i.icon-visa.icon-visa-size    
            %span.payMethods__icon
                %i.icon-master.icon-master-size 
            %span.payMethods__icon
                %i.icon-maestro.icon-maestro-size 
            %span.payMethods__icon
                %i.icon-yandex.icon-yandex-size 
            %span.payMethods__icon
                %i.icon-qiwi.icon-qiwi-size 
        .footer__midBlock
            / .socialIcons.socialIcons-sm
            /     %a.socialIcons__icon{:href => ""}
            /         %i.icon-whatsApp-24x24.icon-whatsApp-24x24-size
                
            %a.logo.logo-sm{:href => ""}
                %img.logo__img{:src => "assets/img/logo.svg", :alt => "logo"}/
            .socialIcons.socialIcons-sm
                %a.socialIcons__icon{:href => ""}
                    %i.icon-vk-24x24.icon-vk-24x24-size
                %a.socialIcons__icon{:href => ""}
                    %i.icon-instagram-24x24.icon-instagram-24x24-size
                %a.socialIcons__icon{:href => ""}
                    %i.icon-telegram-24x24.icon-telegram-24x24-size
        %ul.footer__menu
            %li
                %a{:href => ""} Личный кабинет 
            %li
                %a{:href => ""} Регистрация 
            %li
                %a{:href => ""} Контакты
            %li
                %a{:href => ""} О нас 
            %li
                %a{:href => ""} Оферта 
            %li
                %a{:href => ""} Политика конфиденциальности
        / %a.footer__link{:href => ""} Полная версия сайта