%head
    %meta{:charset => "utf-8"}/ 
    %meta{:name => "apple-mobile-web-app-capable", :content => "yes"}/
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"}/
    %title Timbet

    %link{:href => "assets/ico/fav/favicon-16x16.png", :rel => "icon", :sizes => "16x16", :type => "image/png"}/
    %link{:href => "assets/ico/fav/favicon-32x32.png", :rel => "icon", :sizes => "32x32", :type => "image/png"}/
    %link{:href => "assets/ico/fav/favicon-96x96.png", :rel => "icon", :sizes => "96x96", :type => "image/png"}/

    %link{:href => "assets/ico/ati/ati-57x57.png", :rel => "apple-touch-icon", :sizes => "57x57"}/
    %link{:href => "assets/ico/ati/ati-60x60.png", :rel => "apple-touch-icon", :sizes => "60x60"}/
    %link{:href => "assets/ico/ati/ati-72x72.png", :rel => "apple-touch-icon", :sizes => "72x72"}/
    %link{:href => "assets/ico/ati/ati-76x76.png", :rel => "apple-touch-icon", :sizes => "76x76"}/
    %link{:href => "assets/ico/ati/ati-114x114.png", :rel => "apple-touch-icon", :sizes => "114x114"}/
    %link{:href => "assets/ico/ati/ati-120x120.png", :rel => "apple-touch-icon", :sizes => "120x120"}/
    %link{:href => "assets/ico/ati/ati-144x144.png", :rel => "apple-touch-icon", :sizes => "144x144"}/
    %link{:href => "assets/ico/ati/ati-152x152.png", :rel => "apple-touch-icon", :sizes => "152x152"}/

    %link{:type => "text/css", :rel => "stylesheet", :href => "assets/css/app.min.css"} 
    
    %script{:type => "text/javascript", :src => "assets/js/libs.min.js"} 
    %script{:type => "text/javascript", :src => "assets/js/app.min.js"}