%header.header  
    .wrapper.header__wrap
        %a.logo{:href => ""}
            %img.logo__img{:src => "assets/img/logo.svg", :alt => "logo"}/
        .socialIcons
            %a.socialIcons__icon{:href => ""}
                %i.icon-instagram-28x28.icon-instagram-28x28-size
            %a.socialIcons__icon{:href => ""}
                %i.icon-vk-28x28.icon-vk-28x28-size 
            %a.socialIcons__icon{:href => ""}
                %i.icon-telegram-28x28.icon-telegram-28x28-size 

                