.navigation
    .wrapper
        %nav.nav
            %a.navItem.active.nav__item{:href => ""}
                %i.icn-free.navItem__icon
                Бесплатные 
            %a.navItem.nav__item{:href => ""}
                %i.icn-paid.navItem__icon
                Платные
            %a.navItem.nav__item{:href => ""}
                %i.icn-info.navItem__icon
                Информация
            %a.navItem.nav__item{:href => ""}
                %i.icn-user.navItem__icon
                Регистрация 