.accordionLabel
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    margin-bottom: -1px
    .info
        flex: 1 1 auto
        padding: 8px
        .teams
            font-size: 14px
            font-weight: bold
            display: block
            color: #212529
            padding-bottom: 5px
        .date
            font-size: 12px
            color: #8F8F8F
    .team
        flex: 1 1 auto
        padding: 8px
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        justify-content: space-between
        align-items: center
        .item
            display: flex
            justify-content: space-between
            align-items: center
            max-width: 90px
            img
                height: 32px
                margin-right: 8px
            .name
                font-size: 12px
                color: #212529
            &.right
                text-align: right
                img
                    margin-right: 0
                    margin-left: 8px
    .rate
        flex: 0 0 61px
        height: auto

.accordionItem
    position: relative
    border-bottom: 1px solid #f2f2f2
    .accordionBtn[type="radio"],
    .accordionBtn[type="checkbox"]
        left: 0
        top: 0
        width: 100%
        height: 55px
    .accordionBody
        margin-top: 1px
        padding: 8px 
        display: none
        .versus
            margin: -8px -8px 0
        .rateResult
            margin: 8px 0 17px
        .btnsBlock
            display: -webkit-flex
            display: -moz-flex
            display: -ms-flex
            display: -o-flex
            display: flex
            justify-content: space-between
            .btns
                flex-basis: 45%
                text-align: center
    .accordionBtn[type="radio"]:checked ~ .accordionBody,
    .accordionBtn[type="checkbox"]:checked ~ .accordionBody
        display: block

.accordion
    background: #fff
    
    
