.advantagesItem
    border-bottom: 1px solid #cfcfcf
    padding: 9px
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    align-items: center
    min-height: 70px
    &:last-child
        border-bottom: none
    .img
        flex: 0 0 53px
        margin-right: 15px
        img
            width: 100%
            display: block
    .info
        flex: 1 1 auto
        font-size: 14px
        line-height: 19px
        font-weight: bold 
.advantages
    border-radius: 6px
    background: #fff
