.contactsBox
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    align-items: center

    &__icon
        flex: 0 0 28px
        margin-right: 10px
    &__label
        flex: 1 1 auto
        a
            color: #000
.contactsBlock
    margin-bottom: 35px
    &__item
        margin-bottom: 12px
.contacts
    padding-bottom: 20px
    &__title
        padding-bottom: 15px
    &__form
        padding-top: 20px
    .forms__btn
        margin-top: 24px