.js-html
    overflow: hidden
    width: 100%
    height: 100vh

.modalCupon
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    align-items: center
    justify-content: center
    padding: 0 15px
    position: fixed
    width: 100%
    min-height: 100vh
    overflow-y: auto
    z-index: 99
    top: 0
    left: 0
    opacity: 0
    background: rgba(0,0,0,0.5)
    width: 100%
    &__title
        font-size: 13px
        color: #000
        font-weight: bold
        margin-bottom: 15px
        text-align: left
        text-align: center
        &.ext
            font-size: 14px
            text-transform: uppercase
    &__body
        background: #FFFFFF
        box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.1)
        border-radius: 6px
        padding: 30px 15px 15px
        position: relative
        max-width: 290px
        width: 100%
    &__close
        position: absolute
        top: 10px
        right: 10px
        font-size: 18px
        color: #000
        cursor: pointer
        i
            display: block
    img
        display: block
        width: 100%
        margin-bottom: 17px
