.currentUser
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    align-items: center
    padding: 16px 0
    &__avatar
        flex: 0 0 60px
        height: 60px
        margin-right: 16px
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        align-items: center
        justify-content: center
        font-size: 60px
        color: #8F8F8F
        & > img
            width: 60px
            height: 60px    
    &__info
        position: relative
        flex: 1 1 auto 
    &__title
        font-weight: bold
        display: block
        padding-bottom: 10px
    &__mail
        color: #8F8F8F
    &__btn
        position: absolute
        top: 0
        right: 0