.expandHead
    display: flex
    align-items: center
    &__plus
        flex: 0 0 61px
    &__text
        flex: 1 1 auto
        padding: 0 15px
        font-weight: bold
    &-upper &__text
        text-transform: uppercase

.expandItem
    position: relative
    &-radius
        box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.1)
        background: #fff
        border-radius: 6px
    &__btn[type="checkbox"],
    &__btn[type="radio"],
        left: 0
        top: 0
        width: 100%
        height: 49px
        z-index: 5
    &__body
        padding: 10px
        display: none 
        .empty
            text-align: center
    &__btn[type="checkbox"]:checked ~  &__body,
    &__btn[type="radio"]:checked ~ &__body
        display: block
    &__btn[type="checkbox"]:checked ~  &__head,
    &__btn[type="radio"]:checked ~ &__head
        box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.1)
        .plus
            background: #FFFFFF
            box-shadow: 3px 0px 8px rgba(0, 0, 0, 0.1)
            border-radius: 6px 0px 0px 0px
            &__plus
                display: none
            &__minus
                display: flex
                color: #196ecd

.expand
    &__item
        margin-bottom: 8px

