.feedback
    overflow-x: auto
    padding-bottom: 8px
    margin-bottom: 30px
    white-space: nowrap
    text-align: center
    .item
        margin: 0 6px
        width: calc(50% - 12px)
        display: inline-block
        img
            width: 100%

