.footer
    margin-bottom: 62px
    background: #000
    padding: 12px 0 26px
    &__payMethods
        max-width: 100%
        margin-bottom: 23px
    &__midBlock
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex   
        align-items: center
        justify-content: space-between
        margin-bottom: 12px
    &__menu
        +reset-list()
        margin-bottom: 23px
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        flex-wrap: wrap
        justify-content: center
        li
            margin: 0 5px
            a
                text-decoration: underline
                font-size: 12px
                line-height: 19px
                color: #fff
    &__link
        display: block
        text-align: center
        font-size: 12px



