.forms
    &__title
        text-align: center
        padding-bottom: 15px
    &__checkList
        margin-bottom: 15px
    &__btn
        margin-top: 28px
    &__and
        margin: 15px 0
        text-align: center
        font-size: 12px
    &__checkCase
        align-items: flex-start
        .check-name a
            color: #000
    &__forgot
        display: block
        text-align: center
        margin: 14px 0 20px
        font-size: 12px
        color: #000