.foreCastGroup
    &__league
        text-align: center
        font-size: 14px
        padding-bottom: 4px
        color: #212529
    &__date
        font-size: 12px
        font-weight: bold
        color: #8F8F8F
        text-align: center
        flex-basis: 100%
    &__list
        flex: 1 1 auto
        +reset-list()
        li
            padding-bottom: 5px
    &__lock
        flex: 0 0 auto
        margin-left: 10px
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        align-items: center
        i
            color: #8F8F8F
            margin-right: 9px
            font-size: 30px
            position: relative
            top: -2px
        span
            color: #038700
            margin-right: 10px
            &.ext
                margin-right: 0
                width: 90px
                text-align: right
                display: block
    &__content
        margin: 16px 0
        font-weight: bold
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        justify-content: space-between
        align-items: center
        &.ext
            margin-bottom: 0px
    &__btns
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        justify-content: space-between
        & > .btns
            min-width: 130px
            width: 45%
            text-align: center
    &__factor
        width: 100%
        display: block
        margin: 10px 0
        text-align: center
        
    &-mode
        margin: 0 -10px 
        padding: 10px
        &:last-child
            margin-bottom: -10px
        &:nth-child(even)
            background: #E5F2FF
    &-bord
        position: relative
        overflow: hidden
        padding: 10px 0 0 0
        &:after
            height: 1px
            width: 182px
            background: #DAECFF
            position: absolute
            margin-left: 50%
            left: -91px
            top: 0
            content: ""
        &:first-child
            &:after
                padding-top: 0
                display: none
        

