.headList
	box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.1)
	font-size: 14px
	background: #fff
	color: #000000
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	padding: 8px 
	box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.1)
	position: relative
	z-index: 2
	&__title
		text-transform: uppercase
		text-align: center
		flex: 1 1 auto
	&__info
		flex: 0 0 61px
		text-align: center
		

