.home
    .accordion,
    .specBox,
    .advantages,
    .paidForecastsIntro,
    .paidForecasts
        margin-bottom: 15px
    .greyBlock
        overflow: hidden
    
.comparison
    margin-bottom: 16px
.comparisonBtn
    margin-bottom: 33px