.navItem
    text-align: center
    text-decoration: none
    display: inline-block
    color: #8F8F8F
    font-size: 9px
    font-weight: 900
    &__icon
        display: block
        font-size: 20px
        margin-bottom: 5px
    &.active
        color: #196ECD
    
.nav
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    justify-content: space-between
    margin: 0 -15px
    &__item
        margin: 0 15px
        width: calc(100% - 30px)
        
.navigation
    background: #FFFFFF
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15)
    position: fixed
    bottom: 0
    left: 0
    width: 100%
    padding: 13px 0
    z-index: 99