.paidForecastsInfo
    padding: 14px 0 20px
    background: 0 0 no-repeat
    background-size: cover
    +retina('../img/paid', '.png')
    i
        margin-bottom: 13px
    .title
        color: #fff
        font-size: 24px
        margin-bottom: 14px
    p
        font-weight: bold
        font-size: 14px
        color: #87B4E5

.paidForecastsIntro
    overflow: hidden
    background: #fff
    padding-bottom: 20px
    .paidForecastsInfo
        margin-bottom: 24px
    .h3
        text-transform: uppercase
        margin-bottom: 8px
        a
            text-decoration: none