.paidForecasts
    background: #FFFFFF
    border-radius: 6px
    text-align: center
    padding: 8px 0
    .h1
        margin-bottom: 20px
    table
        margin-bottom: 18px
        th, td
            border: none
            padding: 6px 0
            text-align: center
        th
            font-size: 11px
            background: #d8e6f6
            border-left: 1px solid #fff
            border-right: 1px solid #fff
            width: 33.333%
        td
            font-size: 14px
            padding-top: 0
            vertical-align: bottom

    .btns
        margin: 0 8px
        width: calc(100% - 16px)