.payMethods
    display: -webkit-inline-flex
    display: -moz-inline-flex
    display: -ms-inline-flex
    display: -o-inline-flex
    display: inline-flex
    justify-content: space-between
    align-items: center
    max-width: 350px
    width: 100%
    &__icon
        
            