.rateResult
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    align-items: center
    &__icon
        flex: 0 0 37px
        font-size: 37px
        margin-right: 14px
    &__rate
        margin-top: 4px
    &__info
        flex: 1 1 auto
    &-default &__icon,
    &-default &__rate
        color: #757575
    &-danger &__icon,
    &-danger &__rate
        color: #BD1E1E
    &-success &__icon,
    &-success &__rate
        color: #1EBD5E
    