.socialIcons
    display: inline-flex
    &__icon
        margin-left: 8px
        &:first-child
            margin-left: 0
        & > *
            display: block
    &-sm &__icon
        margin-left: 4px
        &:first-child
            margin-left: 0
        