.specBox
    padding: 9px
    border-radius: 6px
    color: #fff
    &-blue
        background: linear-gradient(188.49deg, #61B2E9 21.67%, #1969B1 70%)
    &-green
        background: linear-gradient(189.32deg, #B7DC81 21.67%, #74A92F 70%)
    .btns-default
        width: 108px
        text-align: center
    .btns-primary
        border: 1px solid #fff
        background: #317EC4
        width: 196px
        text-align: center
    .h3
        padding-bottom: 6px
        text-align: center
    .h1
        text-align: center
        padding-bottom: 15px
    .specBoxBody
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        align-items: flex-end
        justify-content: space-between
        .icon-telegram-64x64
            box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.1)
            border-radius: 64px
