.successMsg
	min-height: calc(100vh - 131px)
	padding: 0 15px
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	flex-direction: column
	align-items: center
	justify-content: center
	&__img
		margin-bottom: 12px
	&__text
		text-align: center
		max-width: 290px