.tabNav
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    justify-content: space-between
    background: #fff
    font-size: 14px
    font-weight: bold
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.1)
    border-radius: 6px 6px 0px 0px
    &__item
        text-decoration: none
        color: #BDBDBD
        padding: 9px 0
        flex-grow: 1
        text-align: center
        border: 3px solid transparent
        &.active
            color: #212529
            border-bottom-color: #196ECD


.tabMenu
    &__menu
        position: relative
        z-index: 9
    &__content
        display: none
        &.active
            display: block