.buttonsMenu
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    justify-content: space-between
    &__btn
        background: #DAECFF
        box-shadow: 0px 3px 8px rgba(25, 110, 205, 0.35), 0px 3px 4px rgba(0, 0, 0, 0.15)
        border-radius: 3px
        flex-basis: 137px
        font-size: 12px
        font-weight: bold
        color: #196ECD
        text-align: center
        text-decoration: none
        padding: 11px 0
        &.active
            background: #196ECD
            box-shadow: none
            color: #fff
.tabButtons
    &__menu
        padding-bottom: 8px
    &__content
        display: none
        padding: 13px 0
        &.active
            display: block