.versusImg
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	align-items: center
	justify-content: space-between
	padding: 14px 30px 19px
	background: center no-repeat
	background-size: cover
	&__vs
		font-size: 36px
		font-weight: bold
		color: #fff
		opacity: 0.8
	&__team
		background: linear-gradient(180deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.658508) 54.14%, rgba(255, 255, 255, 0.74) 100%)
		width: 65px
		height: 65px
		border-radius: 65px
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		align-items: center
		justify-content: center
		& > img
			max-width: 53px
			max-height: 53px
		[class^="icn-"]
			color: #5B5B5B
			font-size: 39px
.versusLabel
	background: #E5E5E5
	padding: 10px 0
	text-align: center
	&__teams
		font-weight: bold
		font-size: 14px
		text-transform: uppercase
		padding-bottom: 5px
		color: #212529
	&__date
		font-size: 12px
		font-weight: bold
		color: #8F8F8F
.versus
