!!!5
%html
    //=include components/_head.haml
    %body
        //=include components/_header.haml
        //=include components/_nav.haml
        .wrap
            .wrapper
                .pageHeader
                    %h2 Контакты
                .contacts
                    .contactsBlock
                        .contactsBox.contactsBlock__item
                            %i.icon-mail-28x28.icon-mail-28x28-size.contactsBox__icon
                            .contactsBox__label
                                Адрес электронной почты: 
                                %a{:href => "mailto:info@timbet.ru"} info@timbet.ru
                    / .contactsBlock
                    /     .contactsBox.contactsBlock__item
                    /         %i.icon-whatsApp-28x28.icon-whatsApp-28x28-size.contactsBox__icon
                    /         .contactsBox__label 
                    /             WhatsApp: 
                    /             %a{:href => "whatsapp://094007004"} +7 (999) 999-99-99
                    /     .contactsBox.contactsBlock__item
                    /         %i.icon-viber-28x28.icon-viber-28x28-size.contactsBox__icon
                    /         .contactsBox__label 
                    /             Viber: 
                    /             %a{:href => "viber://094007004"} +7 (999) 999-99-99
                    .contactsBlock
                        .contactsBox.contactsBlock__item
                            %i.icon-vk-28x28.icon-vk-28x28-size.contactsBox__icon
                            .contactsBox__label 
                                Вконтакте: 
                                %a{:href => "vk.com/timbetru"} vk.com/timbetru
                        .contactsBox.contactsBlock__item
                            %i.icon-instagram-28x28.icon-instagram-28x28-size.contactsBox__icon
                            .contactsBox__label 
                                Instagram: 
                                %a{:href => "instagram.com/timbet.ru"} instagram.com/timbet.ru
                        .contactsBox.contactsBlock__item
                            %i.icon-telegram-28x28.icon-telegram-28x28-size.contactsBox__icon
                            .contactsBox__label 
                                Telegram:
                                %a{:href => "@Timbetru"}  @Timbetru
                    .contacts__form
                        %h3.contacts__title Можете написать нам прямо сейчас:
                        .forms#formsValidate
                            %form{"@submit.prevent" => "onSubmit", :ref => "form", :novalidate => ""}
                                .field-case
                                    %input.field{ ":class" => "{error: errors.has('name')}", "v-validate" => "'required|min:4'", :type => "text", :name => "name", :placeholder => "Ваше имя"}/
                                    %label.error{"v-cloak" => "", 'v-if' => "errors.has('name')"}
                                        {{ errors.first('name') }}
                                .field-case
                                    %input.field{":class" => "{error: errors.has('email')}", "v-validate" => "'required|email'", :type => "email", :name => "email", :placeholder => "Ваш E-mail"}/
                                    %label.error{"v-cloak" => "", 'v-if' => "errors.has('email')"}
                                        {{ errors.first('email') }}
                                .field-case
                                    %textarea.field{":class" => "{error: errors.has('msg')}", "v-cloak" => "", "v-validate" => "'required|min:4|max:150'", :name => "msg", :placeholder => "Ваше сообщение"}
                                    %label.error{"v-cloak" => "", 'v-if' => "errors.has('msg')"}
                                        {{ errors.first('msg') }}
                                %input.btns.btns-primary.btns-block.forms__btn{:type => "submit", :value => "Отправить"}
                    




        //=include components/_footer.haml