!!!5
%html
    //=include components/_head.haml
    %body
        //=include components/_header.haml
        //=include components/_nav.haml
        .wrap
            .wrapper
                %br/
                %h1 Tags Style
                %br/
                %h1 H1 - Roboto - 36px Lorem ipsum dolor sit amet
                %br/
                %h2 H2 - Roboto - 14px Lorem ipsum dolor sit amet
                %br/
                %h3 H3 - Roboto - 14px Lorem ipsum dolor sit amet
                %br/
                %h4 H4 - Roboto - 14px Lorem ipsum dolor sit amet
                %br/
                %h5 H5 - Roboto - 12px Lorem ipsum dolor sit amet
                %br/
                %h6 H6 - Roboto - 12px Lorem ipsum dolor sit amet
                %br/
                %p p - Roboto - 14px  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium deleniti, accusamus nihil nulla perferendis, quisquam dicta voluptates ea deserunt dolore voluptate quam? Aspernatur in, obcaecati! Officia libero molestias, vitae facere.
                %br/
                %strong strong - Roboto - 14px Lorem ipsum dolor sit amet
                %br/
                %br/
                %em em - Roboto - 14px Lorem ipsum dolor sit amet
                %br/
                %br/
                %a{:href => ""} a - Roboto - 14px Lorem ipsum dolor sit amet
                %br/
                %br/
                %br/
                %table{:cellspacing => "0"}
                    %caption Table Caption
                    %thead
                        %tr
                            %th Table th
                            %th Table th
                            %th 
                                %strong Table th
                    %tbody
                        - (1..5).each do |i|
                            %tr
                                %td Completed
                                %td 2
                                %td 
                                    %strong $89.95
                %br/
                %br/
                %ul
                    %li ul - Arial - 14px Lorem ipsum dolor sit amet
                    %li ul - Arial - 14px Lorem ipsum dolor sit amet
                %br/
                %ol
                    %li ol - Arial - 14px Lorem ipsum dolor sit amet
                    %li ol - Arial - 14px Lorem ipsum dolor sit amet
                %br/
                %br/
                %br/
                %hr/
                %br/
                %br/
                %br/
                %h1 Icons
                %br/
                %div{:style => "font-size: 20px"}
                    %i.icn-angle-down
                    %i.icn-angle-left
                    %i.icn-angle-right
                    %i.icn-angle-up
                    %i.icn-checkbox
                    %i.icn-radio
                    %i.icn-close
                    %i.icn-free
                    %i.icn-info
                    %i.icn-paid
                    %i.icn-aim
                    %i.icn-plus
                    %i.icn-minus
                    %i.icn-dummy
                    %i.icn-user
                    
                %br/
                %div
                    %i.icon-instagram-28x28.icon-instagram-28x28-size
                    %i.icon-telegram-28x28.icon-telegram-28x28-size
                    %i.icon-vk-28x28.icon-vk-28x28-size
                    
                    %i.icon-instagram-24x24.icon-instagram-24x24-size
                    %i.icon-telegram-24x24.icon-telegram-24x24-size
                    %i.icon-vk-24x24.icon-vk-24x24-size
                    %i.icon-whatsApp-24x24.icon-whatsApp-24x24-size
                    
                %br/
                %br/
                %br/
                %hr/
                %br/
                %br/
                %br/
                %h1 Form elements
                %br/
                .elements
                    .col-12
                        .field-case
                            %label.field-name Field name
                            %input.field{:type => "text", :placeholder => "Field", :name => ""}/
                        
                        .field-case
                            %label.field-name Field name
                            %input.field.error{:type => "text", :placeholder => "Field wrong", :value => "Field wrong", :name => ""}/
                            %label.error Wrong text

                        .field-case
                            %label.field-name Field name
                            %input.field{:type => "text", :placeholder => "Field disabled", :disabled => "disabled", :name => ""}/
                        .field-case
                            %label.field-name  Field name
                            .file-case
                                %a.btns.btns-primary Attach file
                                %input{:type => "file", :multiple => "", :accept => "image/jpeg, application/msword, application/pdf", :enctype => "multipart/form-data", :name => ""}/  
                                .field 
                                    Attach files (doc, pdf less 2 mb) 
                    .col-12
                        .field-case
                            %label.field-name Field name
                            %select.field{:name => ""}
                                %option{:value => ""} Select field
                                - (1..5).each do |i|
                                    %option{:value => ""} Select item #{i}
                            %i.icn-angle-down
                        .field-case
                            %label.field-name Field name
                            %select.field.error{:name => ""}
                                %option{:value => ""} Select field wrong
                                - (1..5).each do |i|
                                    %option{:value => ""} Select item #{i}
                            %label.error Wrong text
                            %i.icn-angle-down
                        .field-case
                            %label.field-name Field name
                            %select.field{:name => "", :disabled => "disabled"}
                                %option{:value => ""} Select field disabled
                                - (1..5).each do |i|
                                    %option{:value => ""} Select item #{i}
                            %i.icn-angle-down
                    .col-12
                        .field-case
                            %label.field-name Textarea
                            %textarea.field{:name => "", :placeholder => "Textarea"}
                    .col-12
                        .field-case
                            %label.field-name Field name
                            %label.check-case
                                %input{:type => "checkbox", :name => ""}/
                                %span.field-checkbox
                                    %i.icn-checkbox
                                %span.check-name 
                                    checkbox default 
                                    %a{:href => "#"}  Accept all terms of service
                        .field-case
                            %label.field-name Field name
                            %label.check-case
                                %input.error{:type => "checkbox", :name => ""}/
                                %label.error Wrong text
                                %span.field-checkbox
                                    %i.icn-checkbox
                                %span.check-name checkbox wrong
                    
                        .field-case
                            %label.field-name Field name
                            %label.check-case
                                %input{:type => "checkbox", :disabled => "disabled", :name => ""}/
                                %span.field-checkbox
                                    %i.icn-checkbox
                                %span.check-name checkbox disabled
                    
                        .field-case
                            %label.field-name Field name
                            %label.check-case
                                %input{:type => "checkbox", :disabled => "disabled", :checked => "checked", :name => ""}/
                                %span.field-checkbox
                                    %i.icn-checkbox
                                %span.check-name checkbox disabled checked  
                    .col-12
                        .field-case
                            %label.field-name Field name
                            %label.check-case
                                %input{:type => "radio", :name => "test"}/
                                %span.field-radio
                                    %i.icn-radio
                                %span.check-name radio default
                        .field-case
                            %label.field-name Field name
                            %label.check-case
                                %input.error{:type => "radio", :name => ""}/
                                %label.error Wrong text
                                %span.field-radio
                                    %i.icn-radio
                                %span.check-name radio default
                    
                        .field-case
                            %label.field-name Field name
                            %label.check-case
                                %input{:type => "radio", :disabled => "disabled", :name => ""}/
                                %span.field-radio
                                    %i.icn-radio
                                %span.check-name radio disabled
                    
                        .field-case
                            %label.field-name Field name
                            %label.check-case
                                %input{:type => "radio", :disabled => "disabled", :checked => "checked", :name => ""}/
                                %span.field-radio
                                    %i.icn-radio
                                .check-name radio disabled checked 
                %br/
                %br/
                %br/
                %hr/
                %br/
                %br/
                %br/
                %h1 Buttons
                %br/
                %button.btns.btns-primary Button Priamary 
                &nbsp;
                %button.btns.btns-info Button Info 
                &nbsp;
                %br/
                %br/
                %button.btns.btns-primary.disabled Button Disabled 
                %br/
                %br/
                %br/
                %hr/
                %br/
                %br/
                %br/
                %h1 Nav Item
                %br/
                %a.navItem.active{:href => ""}
                    %i.icn-free.navItem__icon
                    Бесплатные
                &nbsp;
                &nbsp;
                %a.navItem{:href => ""}
                    %i.icn-free.navItem__icon
                    Бесплатные
                %br/
                %br/
                %br/
                %hr/
                %br/
                %br/
                %br/
                %h1 Social Network
                %br/
                .socialIcons.socialIcons-sm
                    %a.socialIcons__icon{:href => ""}
                        %i.icon-whatsApp-24x24.icon-whatsApp-24x24-size 
                    %a.socialIcons__icon{:href => ""}
                        %i.icon-instagram-24x24.icon-instagram-24x24-size 
                    %a.socialIcons__icon{:href => ""}
                        %i.icon-vk-24x24.icon-vk-24x24-size 
                    %a.socialIcons__icon{:href => ""}
                        %i.icon-telegram-24x24.icon-telegram-24x24-size 
                %br/
                %br/
                %br/
                %hr/
                %br/
                %br/
                %br/
                %h1 Pay Methods
                %br/
                .payMethods
                    %a.payMethods__icon{:href => ""}
                        %img{:src => "assets/img/pay-img1.png", :alt => ""}/
                    %a.payMethods__icon{:href => ""}
                        %img{:src => "assets/img/pay-img2.png", :alt => ""}/
                    %a.payMethods__icon{:href => ""}
                        %img{:src => "assets/img/pay-img3.png", :alt => ""}/
                    %a.payMethods__icon{:href => ""}
                        %img{:src => "assets/img/pay-img4.png", :alt => ""}/
                    %a.payMethods__icon{:href => ""}
                        %img{:src => "assets/img/pay-img5.png", :alt => ""}/
                %br/
                %br/
                %br/
                %hr/
                %br/
                %br/
                %br/
                %h1 Plus
                %br/
                .plus
                    %i.plus__plus.icn-plus
                    %i.plus__minus.icn-minus
                %br/
                %br/
                %br/
                %hr/
                %br/
                %br/
                %br/
                %h1 Expand Item
                %br/
                .expandItem.expandItem-radius
                    %input.expandItem__btn{:type => "checkbox", :name=>"profile"}/
                    .expandHead.expandHead-upper.expandItem__head
                        .expandHead__plus.plus
                            %i.plus__plus.icn-plus
                            %i.plus__minus.icn-minus
                        .expandHead__text Футбол
                    .expandItem__body
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed temporibus aspernatur fugit a, velit ad fuga modi, quisquam beatae eveniet quos porro praesentium consequatur totam incidunt itaque et earum inventore?
                %br/
                %br/
                %br/
                %hr/
                %br/
                %br/
                %br/
                %h1 Rate
                %br/
                .rate.rate-default 1.52
                &nbsp;
                .rate.rate-success 1.52
                &nbsp;
                .rate.rate-danger 1.52
                &nbsp;
                .rate.rate-done 1.52
                &nbsp;
                %br/
                %br/
                .rate.rate-vip 
                    %span VIP
                &nbsp;
                %br/
                %br/
                %br/
                %hr/
                %br/
                %br/
                %br/
                %h1 Rate Result
                %br/
                .rateResult.rateResult-default
                    %i.icn-aim.rateResult__icon
                    .rateResult__info
                        Прогноз: Хозяин
                        .rateResult__rate Коэф. 1.52
                %br/
                .rateResult.rateResult-danger
                    %i.icn-aim.rateResult__icon
                    .rateResult__info
                        Прогноз: Хозяин
                        .rateResult__rate Прогноз не прошел, коэф. 1.52
                %br/
                .rateResult.rateResult-success
                    %i.icn-aim.rateResult__icon
                    .rateResult__info
                        Прогноз: Хозяин
                        .rateResult__rate Прогноз прошел, коэф. 1.52

                
                %br/
                %br/
                %br/
                %hr/
                %br/
                %br/
                %br/
                %h1 Versus
                %br/
                .versus
                    .versusImg{:style => "background-image: url('assets/pictures/vs-bg.png')"}
                        .versusImg__team
                            %img{:src => "assets/pictures/vs-team1.png", :alt => ""}/
                        .versusImg__vs VS
                        .versusImg__team
                            %img{:src => "assets/pictures/vs-team2.png", :alt => ""}/

                    .versusLabel
                        .versusLabel__teams
                            Крузейро - Бока Х
                        .versusLabel__date
                            Начало: 08.10 в 00:00
                %br/
                %br/
                %br/
                %hr/
                %br/
                %br/
                %br/
                %h1 Paid Forecasts
                %br/
                %div{:style => "background: #000; padding: 10px"}
                    .paidForecasts
                        .h1 Експресс
                        %table
                            %thead
                                %tr
                                    %th 1 прогноз
                                    %th 5 прогнозов
                                    %th 10 прогнозов
                            %tbody
                                %tr
                                    %td 
                                        %strong 2 999 ₽
                                    %td 
                                        %strong 9 999 ₽
                                    %td 
                                        .profitable
                                            %span ВЫГОДНО
                                        %strong 19 999 ₽
                        %a.btns.btns-primary.btns-block{:href => ""} Купить подписку
                %br/
                %br/
                %br/
                %hr/
                %br/
                %br/
                %br/

                
                


        //=include components/_footer.haml