!!!5
%html
    //=include components/_head.haml
    %body
        //=include components/_header.haml
        //=include components/_nav.haml
        .wrap
            .faq
                .wrapper
                    .pageHeader
                        %h2 Наши преимущества
                    .expand.faq__item
                        - (1..10).each do |i|
                            .expandItem.expandItem-radius.expand__item
                                %input.expandItem__btn{:type => "checkbox", :name=>"profile"}/
                                .expandHead.expandItem__head
                                    .expandHead__plus.plus
                                        %i.plus__plus.icn-plus
                                        %i.plus__minus.icn-minus
                                    .expandHead__text Честность и открытость
                                .expandItem__body
                                    %p
                                        Мы не занимаемся инсайдами, договорными матчами и раскруткой счета, работаем честно и открыто. Наша задача - сделать так, чтобы ваша прибыль росла несмотря на проигрышные дни. Ставки - это бизнес, в котором стабильный продуманный заработок возможен только на дистанции
                    .pageHeader
                        %h2 Вопрос - ответ 
                    .expand.faq__item
                        - (1..10).each do |i|
                            .expandItem.expandItem-radius.expand__item
                                %input.expandItem__btn{:type => "checkbox", :name=>"profile"}/
                                .expandHead.expandItem__head
                                    .expandHead__plus.plus
                                        %i.plus__plus.icn-plus
                                        %i.plus__minus.icn-minus
                                    .expandHead__text Честность и открытость
                                .expandItem__body
                                    %p
                                        Мы не занимаемся инсайдами, договорными матчами и раскруткой счета, работаем честно и открыто. Наша задача - сделать так, чтобы ваша прибыль росла несмотря на проигрышные дни. Ставки - это бизнес, в котором стабильный продуманный заработок возможен только на дистанции   




        //=include components/_footer.haml