!!!5
%html
    //=include components/_head.haml
    %body
        //=include components/_header.haml
        //=include components/_nav.haml
        .wrap
            .darkBg.home
                .wrapper#cuponModule

                    .pageHeader.pageHeader-white
                        %h2 Прогнозы на спорт
                    .tabMenu
                        .tabNav.tabMenu__menu
                            %a.tabNav__item.active{:href => ""}Сегодня
                            %a.tabNav__item{:href => ""}Завтра
                        - (1..2).each do |i|
                            .tabMenu__content{:class => "#{ i == 1 ? 'active' : ''}"}
                                .headList
                                    .headList__title ФУТБОЛ
                                    .headList__info коэф.
                                .accordion
                                    .accordionItem
                                        %input.accordionBtn{:type => "checkbox", :name => "rate"}/
                                        .accordionLabel
                                            .info
                                                %span.teams Крузейро - Бока Х
                                                %span.date 03:35 ЛИБЕРТАДОРЕС
                                            %span.rate.rate-vip 
                                                %span VIP
                                        .accordionBody
                                            .versus
                                                .versusImg{:style => "background-image: url('assets/pictures/vs-bg.jpg')"}
                                                    .versusImg__team
                                                        %i.icn-tenis
                                                    .versusImg__vs VS
                                                    .versusImg__team
                                                        %i.icn-tenis

                                                .versusLabel
                                                    .versusLabel__teams
                                                        Крузейро - Бока Х
                                                    .versusLabel__date
                                                        Начало: 08.10 в 00:00
                                            .rateResult.rateResult-default
                                                %i.icn-aim.rateResult__icon
                                                .rateResult__info
                                                    Прогноз: П1
                                                    .rateResult__rate  коэф. 1.52
                                            .btnsBlock
                                                %a.btns.btns-primary{"@click" => "showCupon('assets/img/paid.png', 'http://localhost:3000/login.html')"} Купон
                                                %a.btns.btns-primary{:href => ""} Сделать ставку
                                    .accordionItem
                                        %input.accordionBtn{:type => "checkbox", :name => "rate"}/
                                        .accordionLabel
                                            .info
                                                %span.teams Крузейро - Бока Х
                                                %span.date 03:35 ЛИБЕРТАДОРЕС
                                            %span.rate.rate-vip 
                                                %span VIP
                                        .accordionBody
                                            .versus
                                                .versusImg{:style => "background-image: url('assets/pictures/vs-bg.jpg')"}
                                                    .versusImg__team
                                                        %i.icn-tenis
                                                    .versusImg__vs VS
                                                    .versusImg__team
                                                        %i.icn-tenis

                                                .versusLabel
                                                    .versusLabel__teams
                                                        Крузейро - Бока Х
                                                    .versusLabel__date
                                                        Начало: 08.10 в 00:00
                                            .rateResult.rateResult-default
                                                %i.icn-aim.rateResult__icon
                                                .rateResult__info
                                                    Прогноз: П1
                                                    .rateResult__rate  коэф. 1.52
                                            .btnsBlock
                                                %a.btns.btns-primary{"@click" => "showCupon('assets/img/paid@2x.png', 'http://localhost:3000/profile-subscribe.html')"} Купон
                                                %a.btns.btns-primary{:href => ""} Сделать ставку

                                    .accordionItem
                                        %input.accordionBtn{:type => "checkbox", :name => "rate"}/
                                        .accordionLabel
                                            .info
                                                %span.teams Крузейро - Бока Х
                                                %span.date 03:35 ЛИБЕРТАДОРЕС
                                            %span.rate.rate-success 1.52
                                        .accordionBody
                                            .versus
                                                .versusImg{:style => "background-image: url('assets/pictures/vs-bg.jpg')"}
                                                    .versusImg__team
                                                        %i.icn-football
                                                    .versusImg__vs VS
                                                    .versusImg__team
                                                        %i.icn-football

                                                .versusLabel
                                                    .versusLabel__teams
                                                        Крузейро - Бока Х
                                                    .versusLabel__date
                                                        Начало: 08.10 в 00:00
                                            .rateResult.rateResult-success
                                                %i.icn-aim.rateResult__icon
                                                .rateResult__info
                                                    Прогноз: Хозяин
                                                    .rateResult__rate Прогноз прошел, коэф. 1.52
                                            %a.btns.btns-primary.btns-block{:href => ""} Сделать ставку
                                    .accordionItem
                                        %input.accordionBtn{:type => "checkbox", :name => "rate"}/
                                        .accordionLabel
                                            .info
                                                %span.teams Крузейро - Бока Х
                                                %span.date 03:35 ЛИБЕРТАДОРЕС
                                            %span.rate.rate-danger 1.52
                                        .accordionBody
                                            .versus
                                                .versusImg{:style => "background-image: url('assets/pictures/vs-bg.jpg')"}
                                                    .versusImg__team
                                                        %i.icn-football
                                                    .versusImg__vs VS
                                                    .versusImg__team
                                                        %i.icn-football

                                                .versusLabel
                                                    .versusLabel__teams
                                                        Крузейро - Бока Х
                                                    .versusLabel__date
                                                        Начало: 08.10 в 00:00
                                            .rateResult.rateResult-danger
                                                %i.icn-aim.rateResult__icon
                                                .rateResult__info
                                                    Прогноз: Хозяин
                                                    .rateResult__rate Прогноз не прошел, коэф. 1.52
                                            %a.btns.btns-primary.btns-block{:href => ""} Сделать ставку
                                    - (1..5).each do |i|        
                                        .accordionItem
                                            %input.accordionBtn{:type => "checkbox", :name => "rate"}/
                                            .accordionLabel
                                                .info
                                                    %span.teams Крузейро - Бока Х
                                                    %span.date 03:35 ЛИБЕРТАДОРЕС
                                                %span.rate.rate-default 1.52
                                            .accordionBody
                                                .versus
                                                    .versusImg{:style => "background-image: url('assets/pictures/vs-bg.jpg')"}
                                                        .versusImg__team
                                                            %i.icn-football
                                                        .versusImg__vs VS
                                                        .versusImg__team
                                                            %i.icn-football

                                                    .versusLabel
                                                        .versusLabel__teams
                                                            Крузейро - Бока Х
                                                        .versusLabel__date
                                                            Начало: 08.10 в 00:00
                                                .rateResult.rateResult-default
                                                    %i.icn-aim.rateResult__icon
                                                    .rateResult__info
                                                        Прогноз: Хозяин
                                                        .rateResult__rate Коэф. 1.52
                                                %a.btns.btns-primary.btns-block{:href => ""} Сделать ставку
                                .specBox.specBox-green
                                    .h1 Хабиб - Конор
                                    .specBoxBody
                                        ПРОГНОЗ 
                                        %br/
                                        С КОЭФИЦИЕНТОМ 3.2
                                        %a.btns.btns-default{:href => ""} Узнать
                                .headList
                                    .headList__title ХОККЕЙ
                                    .headList__info коэф.
                                .accordion
                                    .accordionItem
                                        %input.accordionBtn{:type => "checkbox", :name => "rate"}/
                                        .accordionLabel
                                            .info
                                                %span.teams Крузейро - Бока Х
                                                %span.date 03:35 ЛИБЕРТАДОРЕС
                                            %span.rate.rate-vip 
                                                %span VIP
                                        .accordionBody
                                            .versus
                                                .versusImg{:style => "background-image: url('assets/pictures/vs-bg.jpg')"}
                                                    .versusImg__team
                                                        %i.icn-hokey
                                                    .versusImg__vs VS
                                                    .versusImg__team
                                                        %i.icn-hokey

                                                .versusLabel
                                                    .versusLabel__teams
                                                        Крузейро - Бока Х
                                                    .versusLabel__date
                                                        Начало: 08.10 в 00:00
                                            .rateResult.rateResult-default
                                                %i.icn-aim.rateResult__icon
                                                .rateResult__info
                                                    Прогноз: 
                                                    %i.icn-lock-o
                                                    .rateResult__rate  коэф. 1.52
                                            %a.btns.btns-primary.btns-block{:href => ""} Купить VIP-прогноз
                                    - (1..6).each do |i|        
                                        .accordionItem
                                            %input.accordionBtn{:type => "checkbox", :name => "rate"}/
                                            .accordionLabel
                                                .info
                                                    %span.teams Крузейро - Бока Х
                                                    %span.date 03:35 ЛИБЕРТАДОРЕС
                                                %span.rate.rate-default 1.52
                                            .accordionBody
                                                .versus
                                                    .versusImg{:style => "background-image: url('assets/pictures/vs-bg.jpg')"}
                                                        .versusImg__team
                                                            %i.icn-hokey
                                                        .versusImg__vs VS
                                                        .versusImg__team
                                                            %i.icn-hokey

                                                    .versusLabel
                                                        .versusLabel__teams
                                                            Крузейро - Бока Х
                                                        .versusLabel__date
                                                            Начало: 08.10 в 00:00
                                                .rateResult.rateResult-default
                                                    %i.icn-aim.rateResult__icon
                                                    .rateResult__info
                                                        Прогноз: Хозяин
                                                        .rateResult__rate Коэф. 1.52
                                                %a.btns.btns-primary.btns-block{:href => ""} Сделать ставку
                                .specBox.specBox-blue
                                    .h3 Получай прогнозы в Telegram Бесплатно
                                    .specBoxBody
                                        %a.btns.btns-primary{:href => ""} Подписаться на канал
                                        %i.icon-telegram-64x64.icon-telegram-64x64-size 
                                .headList
                                    .headList__title ТЕННИС
                                    .headList__info коэф.
                                .accordion
                                    .accordionItem
                                        %input.accordionBtn{:type => "checkbox", :name => "rate"}/
                                        .accordionLabel
                                            .info
                                                %span.teams Крузейро - Бока Х
                                                %span.date 03:35 ЛИБЕРТАДОРЕС
                                            %span.rate.rate-vip 
                                                %span VIP
                                        .accordionBody
                                            .versus
                                                .versusImg{:style => "background-image: url('assets/pictures/vs-bg.jpg')"}
                                                    .versusImg__team
                                                        %i.icn-tenis
                                                    .versusImg__vs VS
                                                    .versusImg__team
                                                        %i.icn-tenis

                                                .versusLabel
                                                    .versusLabel__teams
                                                        Крузейро - Бока Х
                                                    .versusLabel__date
                                                        Начало: 08.10 в 00:00
                                            .rateResult.rateResult-default
                                                %i.icn-aim.rateResult__icon
                                                .rateResult__info
                                                    Прогноз: П1
                                                    .rateResult__rate  коэф. 1.52
                                            .btnsBlock
                                                %a.btns.btns-primary{:href => ""} Купон
                                                %a.btns.btns-primary{:href => ""} Сделать ставку
                                    - (1..6).each do |i|        
                                        .accordionItem
                                            %input.accordionBtn{:type => "checkbox", :name => "rate"}/
                                            .accordionLabel
                                                .info
                                                    %span.teams Крузейро - Бока Х
                                                    %span.date 03:35 ЛИБЕРТАДОРЕС
                                                %span.rate.rate-default 1.52
                                            .accordionBody
                                                .versus
                                                    .versusImg{:style => "background-image: url('assets/pictures/vs-bg.jpg')"}
                                                        .versusImg__team
                                                            %i.icn-tenis
                                                        .versusImg__vs VS
                                                        .versusImg__team
                                                            %i.icn-tenis

                                                    .versusLabel
                                                        .versusLabel__teams
                                                            Крузейро - Бока Х
                                                        .versusLabel__date
                                                            Начало: 08.10 в 00:00
                                                .rateResult.rateResult-default
                                                    %i.icn-aim.rateResult__icon
                                                    .rateResult__info
                                                        Прогноз: Хозяин
                                                        .rateResult__rate Коэф. 1.52
                                                %a.btns.btns-primary.btns-block{:href => ""} Сделать ставку
                                .headList
                                    .headList__title БАСКЕТБОЛ
                                    .headList__info коэф.
                                .accordion
                                    .accordionItem
                                        %input.accordionBtn{:type => "checkbox", :name => "rate"}/
                                        .accordionLabel
                                            .info
                                                %span.teams Крузейро - Бока Х
                                                %span.date 03:35 ЛИБЕРТАДОРЕС
                                            %span.rate.rate-vip 
                                                %span VIP
                                        .accordionBody
                                            .versus
                                                .versusImg{:style => "background-image: url('assets/pictures/vs-bg.jpg')"}
                                                    .versusImg__team
                                                        %i.icn-basketball
                                                    .versusImg__vs VS
                                                    .versusImg__team
                                                        %i.icn-basketball

                                                .versusLabel
                                                    .versusLabel__teams
                                                        Крузейро - Бока Х
                                                    .versusLabel__date
                                                        Начало: 08.10 в 00:00
                                            .rateResult.rateResult-default
                                                %i.icn-aim.rateResult__icon
                                                .rateResult__info
                                                    Прогноз: Хозяин
                                                    .rateResult__rate  коэф. 1.52
                                            .btnsBlock
                                                %a.btns.btns-primary{:href => ""} Купон
                                                %a.btns.btns-primary{:href => ""} Сделать ставку
                                    - (1..6).each do |i|        
                                        .accordionItem
                                            %input.accordionBtn{:type => "checkbox", :name => "rate"}/
                                            .accordionLabel
                                                .info
                                                    %span.teams Крузейро - Бока Х
                                                    %span.date 03:35 ЛИБЕРТАДОРЕС
                                                %span.rate.rate-default 1.52
                                            .accordionBody
                                                .versus
                                                    .versusImg{:style => "background-image: url('assets/pictures/vs-bg.jpg')"}
                                                        .versusImg__team
                                                            %i.icn-basketball
                                                        .versusImg__vs VS
                                                        .versusImg__team
                                                            %i.icn-basketball

                                                    .versusLabel
                                                        .versusLabel__teams
                                                            Крузейро - Бока Х
                                                        .versusLabel__date
                                                            Начало: 08.10 в 00:00
                                                .rateResult.rateResult-default
                                                    %i.icn-aim.rateResult__icon
                                                    .rateResult__info
                                                        Прогноз: Хозяин
                                                        .rateResult__rate Коэф. 1.52
                                                %a.btns.btns-primary.btns-block{:href => ""} Сделать ставку
                    .modalCupon{"v-if" => "show", ":style" => "{opacity:1}"}
                        .modalCupon__body
                            %a.modalCupon__close{"@click" => "hideCupon()"}
                                %i.icn-close
                            .modalCupon__title Купон
                            %img{':src' => "img", :alt => ""}/
                            %a.btns.btns-primary.btns-block{':href' => "href"} Сделать ставку
                .greyBlock
                    .wrapper
                        .pageHeader
                            %h2 Наши преимущества
                        .advantages
                            .advantagesItem
                                .img
                                    %img{:src => "assets/pictures/ad-icon1.svg", :alt => ""}/
                                .info
                                    Доступные цены 
                                    %br/
                                    на прогнозы
                            .advantagesItem
                                .img
                                    %img{:src => "assets/pictures/ad-icon2.svg", :alt => ""}/
                                .info
                                    Обрабатываем тысячи матчей и собираем надежную статистику у команд
                            .advantagesItem
                                .img
                                    %img{:src => "assets/pictures/ad-icon3.svg", :alt => ""}/
                                .info
                                    Используем математические и экспертные методы анализа
                            .advantagesItem
                                .img
                                    %img{:src => "assets/pictures/ad-icon4.svg", :alt => ""}/
                                .info
                                    Быстрая и профессиональная помощь любому новичку
                            .advantagesItem
                                .img
                                    %img{:src => "assets/pictures/ad-icon5.svg", :alt => ""}/
                                .info
                                    Каждый эксперт отвечает за свой вид спорта
                            .advantagesItem
                                .img
                                    %img{:src => "assets/pictures/ad-icon6.svg", :alt => ""}/
                                .info
                                    Повышаем безопасность и достоверность прогнозов
        //=include components/_footer.haml