!!!5
%html
    //=include components/_head.haml
    %body
        //=include components/_header.haml
        //=include components/_nav.haml
        .wrap
            .wrapper
                .pageHeader
                    %h2 Вход в личный кабинет
                .forms#formsValidate
                    %form{"@submit.prevent" => "onSubmit", :ref => "form", :novalidate => ""}
                        .field-case
                            %input.field{":class" => "{error: errors.has('email')}", "v-validate" => "'required|email'", :type => "email", :name => "email", :placeholder => "Ваш E-mail"}/
                            %label.error{"v-cloak" => "", 'v-if' => "errors.has('email')"}
                                {{ errors.first('email') }}
                        .field-case
                            %input.field{ ":class" => "{error: errors.has('password')}", "v-validate" => "'required|min:8|passLetter|passNum|passSpec'", :type => "password", :name => "password", :placeholder => "Ваш пароль"}/
                            %label.error{"v-cloak" => "", 'v-if' => "errors.has('password')"}
                                {{ errors.first('password') }}
                        %input.btns.btns-primary.btns-block.forms__btn{:type => "submit", :value => "Войти"} 
                    %a.forms__forgot{:href => ""} Забыли пароль?
        //=include components/_footer.haml