!!!5
%html
    //=include components/_head.haml
    %body
        //=include components/_header.haml
        //=include components/_nav.haml
        .wrap
            .wrapper
                .pageHeader
                    %h2 УСТАНОВКА НОВОГО ПАРОЛЯ 
                .forms#formsValidate
                    %form{"@submit.prevent" => "onSubmit", :ref => "form", :novalidate => ""}
                        .field-case
                            %input.field{ ":class" => "{error: errors.has('password')}", "v-validate" => "'required|min:8|passLetter|passNum|passSpec'", :type => "password", :name => "password", :placeholder => "Ваш пароль", :ref => "password"}/
                            %label.error{"v-cloak" => "", 'v-if' => "errors.has('password')"}
                                {{ errors.first('password') }}
                        .field-case
                            %input.field{ ":class" => "{error: errors.has('repassword')}", "v-validate" => "'required|confirmed:password'", :type => "password", :name => "repassword", :placeholder => "Ваш пароль", "data-vv-as" => "password"}/
                            %label.error{"v-cloak" => "", 'v-if' => "errors.has('repassword')"}
                                {{ errors.first('repassword') }}
                        %input.btns.btns-primary.btns-block.forms__btn{:type => "submit", :value => "Сменить пароль"} 

        //=include components/_footer.haml