!!!5
%html
    //=include components/_head.haml
    %body
        //=include components/_header.haml
        //=include components/_nav.haml
        .wrap
            .wrapper
                .pageHeader
                    %h2 Оферта на оказание консультационных услуг 
                .pageContent
                    %p
                        Настоящий документ представляет собой предложение Timbet (далее по тексту - Исполнитель) заключить Договор на оказание консультационных услуг на изложенных ниже условиях.

                    %p
                        Перечень услуг и стоимость услуг содержится в прейскуранте цен, размещенном на сайте https://timbet.ru/.
                    %h3 1. Термины и определения 
                    %p
                        Оферта – настоящий документ «Оферта на оказание консультационных услуг», опубликованный в сети Интернет по адресу: https://timbet.ru/. 
                        %br/
                        Акцепт Оферты – полное безоговорочное принятие Оферты путём осуществления действий, указанных в разделе 6 Оферты. Акцептом Оферты заключается Договор.
                        %br/
                        Договор – возмездный договор между Заказчиком и Исполнителем на оказание консультационных услуг, который заключается путём Акцепта Оферты.
                        %br/
                        Заказчик – лицо, осуществившее акцепт Оферты, и являющееся таким образом Заказчиком услуг Исполнителя по заключенному Договору.
                        %br/ 
                        Прейскурант цен – действующий перечень платных услуг, оказываемых Исполнителем с ценами, публикуемый в сети Интернет по адресу: https://timbet.ru/.
                    %h3 2. Термины и определения
                    %p
                        Оферта – настоящий документ «Оферта на оказание консультационных услуг», опубликованный в сети Интернет по адресу: https://timbet.ru/. 
                        %br/
                        Акцепт Оферты – полное безоговорочное принятие Оферты путём осуществления действий, указанных в разделе 6 Оферты. Акцептом Оферты заключается Договор.
                        %br/
                        Договор – возмездный договор между Заказчиком и Исполнителем на оказание консультационных услуг, который заключается путём Акцепта Оферты.
                        %br/
                        Заказчик – лицо, осуществившее акцепт Оферты, и являющееся таким образом Заказчиком услуг Исполнителя по заключенному Договору.
                        %br/
                        Прейскурант цен – действующий перечень платных услуг, оказываемых Исполнителем с ценами, публикуемый в сети Интернет по адресу: https://timbet.ru/.




        //=include components/_footer.haml