!!!5
%html
    //=include components/_head.haml
    %body
        //=include components/_header.haml
        //=include components/_nav.haml
        .wrap
            .darkBg.home
                .paidForecastsIntro
                    .paidForecastsInfo
                        .wrapper
                            %i.icon-like.icon-like-size 
                            .title
                                Прогнозы 
                                %br/
                                на спорт
                            %p
                                Высокая проходимость
                                %br/
                                Профессиональная аналитика
                                %br/
                                Многолетний опыт в сфере ставок
                    .wrapper
                        .h3
                            Платные прогнозы от 
                            %a{:href => ""} TIMBET

                        %p
                            %strong Timbet 
                            предлагает полное сопровождение в сфере ставок – от предоставления прогнозов с проходимостью от 82% до ссылки на БК с высокими коэффициентами
                .wrapper
                    - ['Футбол', 'Баскетбол', 'Хоккей', 'Теннис', 'Ординар', 'Экспресс'].each do |i|
                        .paidForecasts
                            .h1 #{i}
                            %table
                                %thead
                                    %tr
                                        %th 1 прогноз
                                        %th 5 прогнозов
                                        %th 10 прогнозов
                                %tbody
                                    %tr
                                        %td 
                                            %strong 2 999 ₽
                                        %td 
                                            %strong 9 999 ₽
                                        %td 
                                            .profitable
                                                %span ВЫГОДНО
                                            %strong 19 999 ₽
                            %a.btns.btns-primary.btns-block{:href => ""} Купить подписку
                    
                    .headList
                        .headList__title
                            ПОСЛЕДНИЕ ПРОШЕДШИЕ ПЛАТНЫЕ ПРОГНОЗЫ 
                            %strong TIMBET
                    .accordion
                        - (1..5).each do |i|        
                            .accordionItem
                                %input.accordionBtn{:type => "radio", :name => "rate"}/
                                .accordionLabel
                                    .team
                                        .item
                                            %img{:src => "assets/pictures/vs-team1.png", :alt => ""}/
                                            %span.name Зенит
                                        .item.right
                                            %span.name
                                                Славия Прага
                                            %img{:src => "assets/pictures/vs-team2.png", :alt => ""}/
                                    %span.rate.rate-done 1.52
                                
                                
                                
                
            .wrapper
                .pageHeader
                    %h2 Отзывы наших клиентов
                .feedback#feedback
                    .item{"v-if" => "images.length > 0", "v-for" => "(img, i) in images"}
                        %img{"@click" => "open(i)", ":src" => "img.url", :alt => ""}/
                    .item{"v-if" => "images.length <= 0"}
                        %img{:src => "assets/pictures/rect.svg", :alt => ""}/
                    
                    .modalFeed{'v-if' => "modalShow", ":style" => "{opacity:1}"}
                        .modalFeed__body
                            %a.modalFeed__close{"@click" => "hidefeed()"}
                                %i.icn-close
                            %img{':src' => "img", :alt => ""}/
                            .control
                                %a.btns.btns-primary{"@click" => "prev()"} 
                                    %i.icn-angle-left
                                %span.date {{date}}
                                %a.btns.btns-primary{"@click" => "next()"} 
                                    %i.icn-angle-right
                .pageContent
                    %p
                        Задача Timbet – составление максимально точных и результативных каперских прогнозов на спорт.

                    %p
                        Перед тем, как предложить вам хороший прогноз, мы проводим глубокую аналитику, чтобы учесть форму команд и спортсменов, оценить их слабые и сильные стороны, психологическое состояние, не упустить из виду текущие травмы и другие факторы, которые могут повлиять на результат.

                    %p
                        Мы предлагаем пакеты по 1, 5 или 10 прогнозов на футбол, баскетбол, теннис и хоккей. Платные прогнозы публикуются в Личном кабинете после внесения оплаты.

                    %p
                        За несколько лет плодотворной работы в сфере беттинга наши каперы накопили большой опыт, помогающий им правильно оценивать шансы и давать профессиональные прогнозы на спорт с высокой проходимостью.

                    %p
                        Чтобы отбросить сомнения, посмотрите отзывы в группе Вконтакте или на канале в Telegram.

                    %p
                        Для получения профессиональной консультации и компетентных советов пишите Алисе или Маше Вконтакте.
                .pageHeader
                    %h2 Сравнение прогнозов TIMBET
                %table.comparison{:cellspacing => "0"}
                    %thead
                        %tr
                            %th Критерий
                            %th 
                                %strong Бесплатные
                            %th 
                                %strong Платные
                    %tbody
                        %tr
                            %td Количество в день
                            %td 20-40
                            %td 1-2
                        %tr
                            %td Вероятность выигрыша 
                            %td средняя
                            %td
                                %strong максимум
                        %tr
                            %td Средний коэфициент
                            %td 1.6-1.7
                            %td
                                %strong 1.9-2.1
                        %tr
                            %td Средняя проходимость
                            %td 54-72%
                            %td
                                %strong 81-90%
                        %tr
                            %td Аналитика
                            %td средняя
                            %td
                                %strong профи
                        %tr
                            %td Консультация экспертов
                            %td есть
                            %td есть
                %a.btns.btns-primary.btns-block.comparisonBtn{:href => ""} Получить платный прогноз
        //=include components/_footer.haml