!!!5
%html
    //=include components/_head.haml
    %body
        //=include components/_header.haml
        //=include components/_nav.haml
        .wrap
            .wrapper
                .pageHeader
                    %h2 Восстановление пароля 
                .forms#formsValidate
                    %form{"@submit.prevent" => "onSubmit", :ref => "form", :novalidate => ""}
                        .field-case
                            %input.field{":class" => "{error: errors.has('email')}", "v-validate" => "'required|email'", :type => "email", :name => "email", :placeholder => "Ваш E-mail"}/
                            %label.error{"v-cloak" => "", 'v-if' => "errors.has('email')"}
                                {{ errors.first('email') }}
                        %input.btns.btns-primary.btns-block.forms__btn{:type => "submit", :value => "Получить ссылку"} 

        //=include components/_footer.haml