!!!5
%html
    //=include components/_head.haml
    %body
        //=include components/_header.haml
        //=include components/_nav.haml
        .wrap
            .wrapper
                .pageHeader
                    %h2 Политика конфиденциальности
                .pageContent
                    %p
                        Регистрируя аккаунт, посетитель сайта становится зарегистрированным пользователем проекта Timbet (далее - Пользователь). Для Пользователя создается аккаунт с логином и паролем.

                    %p
                        Timbet собирает, обрабатывает и использует электронные адреса в целях:
                        %br/
                        1) Установления с Пользователем обратной связи путем направления E-mail уведомлений, касающихся использования сайта, оказания услуг, обработки запросов и заявок от Пользователя.
                        %br/
                        2) Предоставления Пользователю эффективной клиентской и технической поддержки при возникновении проблем, связанных с использованием сайта
                        %br/
                        3) Осуществления новостной рассылки с согласия Пользователя.

                    %p
                        Новостная рассылка включает в себя текущие предложения, новости и информацию о наших продуктах. Timbet постоянно совершенствует работу сервиса с помощью анализа:
                        %br/
                        %span открываемости отправленных писем,
                        %br/
                        %span степени кликабельности предоставленных ссылок,
                        %br/
                        %span качества, частоты, количества и тематики полученных ответов и новых обращений.

                    %p
                        Пользователь может в любое время отписаться от E-mail рассылки в разделе "Настройки" в Личном кабинете, а также нажать на кнопку «отписаться от рассылки» в конце письма или написать на электронную почту info@timbet.ru.




        //=include components/_footer.haml