!!!5
%html
    //=include components/_head.haml
    %body
        //=include components/_header.haml
        //=include components/_nav.haml
        .wrap
            .wrapper
                .pageHeader
                    %h2 Оплата
                .forms#formsValidate
                    %h3.forms__title Теннис
                    %form{"@submit.prevent" => "onSubmit", :ref => "form", :novalidate => ""}
                        .field-case
                            %label.field-name Вариант подписки:
                            .checkList.forms__checkList
                                %label.check-case.checkList__item
                                    %input{:type => "radio", :name => "veriant", :checked => "checked"}/
                                    %span.field-radio
                                        %i.icn-radio
                                    .check-name 1 прогноз - 999 рублей
                                %label.check-case.checkList__item
                                    %input{:type => "radio", :name => "veriant"}/
                                    %span.field-radio
                                        %i.icn-radio
                                    .check-name 2 прогноз - 3 999 рублей
                                %label.check-case.checkList__item
                                    %input{:type => "radio", :name => "veriant"}/
                                    %span.field-radio
                                        %i.icn-radio
                                    .check-name 2 прогноз - 3 999 рублей
                        .field-case
                            %label.field-name Платежная система: 
                            .field-case
                                %select.field{":class" => "{error: errors.has('payment')}", "v-validate" => "'required'", :name => "payment"}
                                    %option{:value => ""} Select field
                                    - (1..5).each do |i|
                                        %option{:value => "#{i}"} Select item #{i}
                                %label.error{"v-cloak" => "", 'v-if' => "errors.has('payment')"}
                                    {{ errors.first('payment') }}
                                %i.icn-angle-down
                        %input.btns.btns-primary.btns-block.forms__btn{:type => "submit", :value => "Войти"} 
        //=include components/_footer.haml
    