!!!5
%html
    //=include components/_head.haml
    %body
        //=include components/_header.haml
        //=include components/_nav.haml
        .wrap
            .greyBlock
                .wrapper
                    .currentUser
                        .currentUser__avatar
                            %i.icn-dummy
                        .currentUser__info
                            %span.currentUser__title Логин:
                            %span.currentUser__mail QwErTy12345@gmail.com
                            %a.exit.currentUser__btn{:href => ""} Выход
            .tabButtons
                .greyBlock
                    .wrapper
                        .buttonsMenu.tabButtons__menu
                            %a.buttonsMenu__btn.active{:href => ""} Подписки
                            %a.buttonsMenu__btn{:href => ""} Настройки
                .tabButtons__content.active
                    .wrapper
                        .expand
                            .expandItem.expandItem-radius.expand__item
                                %input.expandItem__btn{:type => "checkbox", :name=>"profile"}/
                                .expandHead.expandHead-upper.expandItem__head
                                    .expandHead__plus.plus
                                        %i.plus__plus.icn-plus
                                        %i.plus__minus.icn-minus
                                    .expandHead__text Футбол
                                .expandItem__body
                                    .foreCastGroup
                                        .foreCastGroup__league
                                            Название Лиги
                                        .foreCastGroup__date
                                            Начало: 08.10 в 00:00
                                        .foreCastGroup__content
                                            %ul.foreCastGroup__list
                                                %li Крузейро - Бока Х
                                            .foreCastGroup__lock
                                                %span П1 
                                                Коэф. 1.95 
                                        .foreCastGroup__btns
                                            %a.btns.btns-primary{:href => ""} Купон
                                            %a.btns.btns-primary{:href => ""} Сделать ставку
                .tabButtons__content
                    .wrapper
                        .expand
                            .expandItem.expandItem-radius.expand__item
                                %input.expandItem__btn{:type => "radio", :name=>"profile"}/
                                .expandHead.expandHead-upper.expandItem__head
                                    .expandHead__plus.plus
                                        %i.plus__plus.icn-plus
                                        %i.plus__minus.icn-minus
                                    .expandHead__text E-mail - оповещения
                                .expandItem__body
                                    %form.formSettings{:action => ""}
                                        .checkList
                                            %label.check-case.checkList__item
                                                %input{:type => "checkbox", :name => ""}/
                                                %span.field-checkbox
                                                    %i.icn-checkbox
                                                .check-name Изменение пароля
                                            %label.check-case.checkList__item
                                                %input{:type => "checkbox", :name => ""}/
                                                %span.field-checkbox
                                                    %i.icn-checkbox
                                                .check-name Оплата подписки
                                            %label.check-case.checkList__item
                                                %input{:type => "checkbox", :name => ""}/
                                                %span.field-checkbox
                                                    %i.icn-checkbox
                                                .check-name Новый прогноз в подписке
                                            %label.check-case.checkList__item
                                                %input{:type => "checkbox", :name => ""}/
                                                %span.field-checkbox
                                                    %i.icn-checkbox
                                                .check-name Новостная рассылка 
                                        %input.btns.btns-primary.btns-block.formSettings__btn{:type => "submit", :value => "Сохранить"}       
                            .expandItem.expandItem-radius.expand__item
                                %input.expandItem__btn{:type => "radio", :name=>"profile"}/
                                .expandHead.expandHead-upper.expandItem__head
                                    .expandHead__plus.plus
                                        %i.plus__plus.icn-plus
                                        %i.plus__minus.icn-minus
                                    .expandHead__text Смена пароля
                                .expandItem__body
                                    %form.formSettings{:action => ""}
                                        .field-case
                                            %input.field{:type => "", :name => "", :placeholder => "Текущий пароль", :required => "true"}/
                                        .field-case
                                            %input.field{:type => "", :name => "", :placeholder => "Новый пароль", :required => "true"}/
                                        .field-case
                                            %input.field.error{:type => "", :name => "", :placeholder => "Подтвердите новый пароль", :required => "true"}/
                                            %label.error Не выбран способ оплаты
                                        %input.btns.btns-primary.btns-block.formSettings__btn{:type => "submit", :value => "Сохранить"}     
                                    
                        
        //=include components/_footer.haml
    