!!!5
%html
    //=include components/_head.haml
    %body
        //=include components/_header.haml
        //=include components/_nav.haml
        .wrap
            .greyBlock
                .wrapper
                    .currentUser
                        .currentUser__avatar
                            %i.icn-dummy
                        .currentUser__info
                            %span.currentUser__title Логин:
                            %span.currentUser__mail QwErTy12345@gmail.com
                            %button.exit.currentUser__btn{:href => ""} Выход
            .tabButtons#cuponModule
                .greyBlock
                    .wrapper
                        .buttonsMenu.tabButtons__menu
                            %a.buttonsMenu__btn.active{:href => ""} Подписки
                            %a.buttonsMenu__btn{:href => ""} Настройки
                .tabButtons__content.active
                    .wrapper
                        .expand
                            .expandItem.expandItem-radius.expand__item
                                %input.expandItem__btn{:type => "checkbox", :name=>"profile"}/
                                .expandHead.expandHead-upper.expandItem__head
                                    .expandHead__plus.plus
                                        %i.plus__plus.icn-plus
                                        %i.plus__minus.icn-minus
                                    .expandHead__text Футбол
                                .expandItem__body
                                    - (1..2).each do |i|
                                        .foreCastGroup.foreCastGroup-mode
                                            .foreCastGroup__league
                                                Название Лиги
                                            .foreCastGroup__date
                                                Начало: 08.10 в 00:00
                                            .foreCastGroup__content
                                                %ul.foreCastGroup__list
                                                    %li Крузейро - Бока Х
                                                .foreCastGroup__lock
                                                    %span П1
                                                    Коэф. 1.95
                                            .foreCastGroup__btns
                                                %a.btns.btns-primary{"@click" => "showCupon('assets/img/paid.png', 'http://localhost:3000/login.html')"} Купон
                                                %a.btns.btns-primary.btns-block{:href => ""} Сделать ставку
                            .expandItem.expandItem-radius.expand__item
                                %input.expandItem__btn{:type => "checkbox", :name=>"profile"}/
                                .expandHead.expandHead-upper.expandItem__head
                                    .expandHead__plus.plus
                                        %i.plus__plus.icn-plus
                                        %i.plus__minus.icn-minus
                                    .expandHead__text ЭКСПРЕСС
                                .expandItem__body
                                    - (1..7).each do |i|
                                        .foreCastGroup.foreCastGroup-bord
                                            .foreCastGroup__league
                                                Название Лиги
                                            .foreCastGroup__date
                                                Начало: 08.10 в 00:00
                                            .foreCastGroup__content.ext
                                                .foreCastGroup__teams
                                                    Крузейро - Бока Х
                                                .foreCastGroup__lock
                                                    %i.icn-lock
                                    .foreCastGroup__factor 
                                        Коэф. 
                                        %strong 1.95
                                    %a.btns.btns-primary.btns-block{:href => ""} Оплатить прогноз
                            .expandItem.expandItem-radius.expand__item
                                %input.expandItem__btn{:type => "checkbox", :name=>"profile"}/
                                .expandHead.expandHead-upper.expandItem__head
                                    .expandHead__plus.plus
                                        %i.plus__plus.icn-plus
                                        %i.plus__minus.icn-minus
                                    .expandHead__text ЭКСПРЕСС
                                .expandItem__body
                                    .foreCastGroup.foreCastGroup-bord
                                        .foreCastGroup__league
                                            Название Лиги
                                        .foreCastGroup__date
                                            Начало: 08.10 в 00:00
                                        .foreCastGroup__content.ext
                                            .foreCastGroup__teams
                                                Крузейро - Бока Х
                                            .foreCastGroup__lock
                                                %span.ext П1
                                    .foreCastGroup.foreCastGroup-bord
                                        .foreCastGroup__league
                                            Название Лиги
                                        .foreCastGroup__date
                                            Начало: 08.10 в 00:00
                                        .foreCastGroup__content.ext
                                            .foreCastGroup__teams
                                                Крузейро - Бока Х
                                            .foreCastGroup__lock
                                                %span.ext
                                                    ТБ (вкл. ОТ) (150.5) 
                                    .foreCastGroup__factor 
                                        Коэф. 
                                        %strong 1.95
                                    .foreCastGroup__btns
                                        %a.btns.btns-primary{"@click" => "showCupon('assets/img/paid@2x.png', 'http://localhost:3000/login.html')"} Купон
                                        %a.btns.btns-primary.btns-block{:href => ""} Сделать ставку
                            .expandItem.expandItem-radius.expand__item
                                %input.expandItem__btn{:type => "checkbox", :name=>"profile"}/
                                .expandHead.expandHead-upper.expandItem__head
                                    .expandHead__plus.plus
                                        %i.plus__plus.icn-plus
                                        %i.plus__minus.icn-minus
                                    .expandHead__text ЭКСПРЕСС
                                .expandItem__body
                                    .empty Пока прогнозов нет
                .tabButtons__content
                    .wrapper
                        .expand
                            .expandItem.expandItem-radius.expand__item
                                %input.expandItem__btn{:type => "radio", :name=>"profile"}/
                                .expandHead.expandHead-upper.expandItem__head
                                    .expandHead__plus.plus
                                        %i.plus__plus.icn-plus
                                        %i.plus__minus.icn-minus
                                    .expandHead__text E-mail - оповещения
                                .expandItem__body
                                    %form.formSettings{:action => ""}
                                        .checkList
                                            %label.check-case.checkList__item
                                                %input{:type => "checkbox", :name => ""}/
                                                %span.field-checkbox
                                                    %i.icn-checkbox
                                                .check-name Изменение пароля
                                            %label.check-case.checkList__item
                                                %input{:type => "checkbox", :name => ""}/
                                                %span.field-checkbox
                                                    %i.icn-checkbox
                                                .check-name Оплата подписки
                                            %label.check-case.checkList__item
                                                %input{:type => "checkbox", :name => ""}/
                                                %span.field-checkbox
                                                    %i.icn-checkbox
                                                .check-name Новый прогноз в подписке
                                            %label.check-case.checkList__item
                                                %input{:type => "checkbox", :name => ""}/
                                                %span.field-checkbox
                                                    %i.icn-checkbox
                                                .check-name Новостная рассылка 
                                        %input.btns.btns-primary.btns-block.formSettings__btn{:type => "submit", :value => "Сохранить"}       
                            .expandItem.expandItem-radius.expand__item
                                %input.expandItem__btn{:type => "radio", :name=>"profile"}/
                                .expandHead.expandHead-upper.expandItem__head
                                    .expandHead__plus.plus
                                        %i.plus__plus.icn-plus
                                        %i.plus__minus.icn-minus
                                    .expandHead__text Смена пароля
                                .expandItem__body
                                    %form.formSettings{:action => ""}
                                        .field-case
                                            %input.field{:type => "", :name => "", :placeholder => "Текущий пароль", :required => "true"}/
                                        .field-case
                                            %input.field{:type => "", :name => "", :placeholder => "Новый пароль", :required => "true"}/
                                        .field-case
                                            %input.field.error{:type => "", :name => "", :placeholder => "Подтвердите новый пароль", :required => "true"}/
                                            %label.error Не выбран способ оплаты
                                        %input.btns.btns-primary.btns-block.formSettings__btn{:type => "submit", :value => "Сохранить"}     
                .modalCupon{"v-if" => "show", ":style" => "{opacity:1}"}
                    .modalCupon__body
                        %a.modalCupon__close{"@click" => "hideCupon()"}
                            %i.icn-close
                        .modalCupon__title Купон
                        %img{':src' => "img", :alt => ""}/
                        %a.btns.btns-primary.btns-block{':href' => "href"} Сделать ставку                      
                        
        //=include components/_footer.haml
    