!!!5
%html
    //=include components/_head.haml
    %body
        //=include components/_header.haml
        //=include components/_nav.haml
        .wrap
            .greyBlock
                .wrapper
                    .currentUser
                        .currentUser__avatar
                            %i.icn-dummy
                        .currentUser__info
                            %span.currentUser__title Логин:
                            %span.currentUser__mail QwErTy12345@gmail.com
                            %button.exit.currentUser__btn{:href => ""} Выход
            .tabButtons
                .greyBlock
                    .wrapper
                        .buttonsMenu.tabButtons__menu
                            %a.buttonsMenu__btn{:href => ""} Подписки
                            %a.buttonsMenu__btn.active{:href => ""} Настройки
                .tabButtons__content
                    .wrapper
                        .expand
                            - (1..10).each do |i|
                                .expandItem.expandItem-radius.expand__item
                                    %input.expandItem__btn{:type => "checkbox", :name=>"profile"}/
                                    .expandHead.expandHead-upper.expandItem__head
                                        .expandHead__plus.plus
                                            %i.plus__plus.icn-plus
                                            %i.plus__minus.icn-minus
                                        .expandHead__text Футбол
                                    .expandItem__body
                                        .foreCastGroup
                                            .foreCastGroup__title
                                                Начало: 08.10 в 00:00
                                            .foreCastGroup__content
                                                %ul.foreCastGroup__list
                                                    - (1..5).each do |i|
                                                        %li Крузейро - Бока Х
                                                .foreCastGroup__lock
                                                    %i.icn-lock
                                                    Коэф. 1.95 
                                            %a.btns.btns-primary.btns-block{:href => ""} Оплатить прогноз
                .tabButtons__content.active
                    .wrapper
                        .expand
                            .expandItem.expandItem-radius.expand__item
                                %input.expandItem__btn{:type => "radio", :name=>"profile"}/
                                .expandHead.expandHead-upper.expandItem__head
                                    .expandHead__plus.plus
                                        %i.plus__plus.icn-plus
                                        %i.plus__minus.icn-minus
                                    .expandHead__text E-mail - оповещения
                                .expandItem__body
                                    %form.formSettings{:action => ""}
                                        .checkList
                                            %label.check-case.checkList__item
                                                %input{:type => "checkbox", :name => ""}/
                                                %span.field-checkbox
                                                    %i.icn-checkbox
                                                .check-name Изменение пароля
                                            %label.check-case.checkList__item
                                                %input{:type => "checkbox", :name => ""}/
                                                %span.field-checkbox
                                                    %i.icn-checkbox
                                                .check-name Оплата подписки
                                            %label.check-case.checkList__item
                                                %input{:type => "checkbox", :name => ""}/
                                                %span.field-checkbox
                                                    %i.icn-checkbox
                                                .check-name Новый прогноз в подписке
                                            %label.check-case.checkList__item
                                                %input{:type => "checkbox", :name => ""}/
                                                %span.field-checkbox
                                                    %i.icn-checkbox
                                                .check-name Новостная рассылка 
                                        %input.btns.btns-primary.btns-block.formSettings__btn{:type => "submit", :value => "Сохранить"}       
                            .expandItem.expandItem-radius.expand__item
                                %input.expandItem__btn{:type => "radio", :name=>"profile"}/
                                .expandHead.expandHead-upper.expandItem__head
                                    .expandHead__plus.plus
                                        %i.plus__plus.icn-plus
                                        %i.plus__minus.icn-minus
                                    .expandHead__text Смена пароля
                                .expandItem__body
                                    #formsValidate
                                        %form.formSettings{"@submit.prevent" => "onSubmit", :ref => "form", :novalidate => ""}
                                            .field-case
                                                %input.field{ ":class" => "{error: errors.has('currentPassword')}", "v-validate" => "'required|min:8|passLetter|passNum|passSpec'", :type => "password", :name => "currentPassword", :placeholder => "Ваш пароль", :ref => "password"}/
                                                %label.error{"v-cloak" => "", 'v-if' => "errors.has('currentPassword')"}
                                                    {{ errors.first('currentPassword') }}
                                            .field-case
                                                %input.field{ ":class" => "{error: errors.has('password')}", "v-validate" => "'required|min:8|passLetter|passNum|passSpec'", :type => "password", :name => "password", :placeholder => "Ваш пароль", :ref => "password"}/
                                                %label.error{"v-cloak" => "", 'v-if' => "errors.has('password')"}
                                                    {{ errors.first('password') }}
                                            .field-case
                                                %input.field{ ":class" => "{error: errors.has('repassword')}", "v-validate" => "'required|confirmed:password'", :type => "password", :name => "repassword", :placeholder => "Ваш пароль", "data-vv-as" => "password"}/
                                                %label.error{"v-cloak" => "", 'v-if' => "errors.has('repassword')"}
                                                    {{ errors.first('repassword') }}
                                            %input.btns.btns-primary.btns-block.formSettings__btn{:type => "submit", :value => "Сохранить"}     
                                    
                        
        //=include components/_footer.haml
    