!!!5
%html
    //=include components/_head.haml
    %body
        //=include components/_header.haml
        //=include components/_nav.haml
        .wrap
            .wrapper
                .pageHeader
                    %h2 Регистрация в 1 клик
                .forms#formsValidate
                    %form{"@submit.prevent" => "onSubmit", :ref => "form", :novalidate => ""}
                        .field-case
                            %input.field{":class" => "{error: errors.has('email')}", "v-validate" => "'required|email'", :type => "email", :name => "email", :placeholder => "Ваш E-mail"}/
                            %label.error{"v-cloak" => "", 'v-if' => "errors.has('email')"}
                                {{ errors.first('email') }}
                        .field-case
                            Пароль будет автоматически сгенерирован и отправлен на Ваш E-mail
                        .field-case
                            %label.check-case.forms__checkCase
                                %input{":class" => "{error: errors.has('policy')}", "v-validate" => "'required'", :type => "checkbox", :checked => "checked", :name => "policy"}/
                                %label.error{"v-cloak" => "", 'v-if' => "errors.has('policy')"}
                                    {{ errors.first('policy') }}
                                %span.field-checkbox
                                    %i.icn-checkbox
                                .check-name 
                                    Я принимаю 
                                    %a{:href => ""} условия оферты 
                                    и подтверждаю, что ознакомлен и согласен с 
                                    %br/
                                    %a{:href => ""} политикой конфиденциальности 
                                    данного сайта

                        %input.btns.btns-primary.btns-block{:type => "submit", :value => "Зарегистрироваться"} 
                        %p.forms__and или
                        %a.btns.btns-info.btns-block{:href => "#"} Войти
                    %a.forms__forgot{:href => ""} Забыли пароль?

        //=include components/_footer.haml