!!!5
%html
    //=include components/_head.haml
    %body
        //=include components/_header.haml
        //=include components/_nav.haml
        .wrap
            .successMsg 
                %i.icon-letter.icon-letter-size.successMsg__img
                %p.successMsg__text
                    На указанную электронную почту было отправлено письмо с паролем
        //=include components/_footer.haml