.btns
    background: none
    border: none
    text-decoration: none
    cursor: pointer

    display: inline-block
    vertical-align: middle

    font-size: 12px
    font-weight: bold
    
    border-radius: 4px
    padding: 10px 15px

    &-block
        width: 100%
        display: block
        text-align: center

    &-primary 
        color: #fff
        background: #196ECD
        box-shadow: 0px 3px 8px rgba(25, 110, 205, 0.35), 0px 3px 4px rgba(0, 0, 0, 0.15)
        
    &-info 
        color: #196ECD
        background: #DAECFF
        box-shadow: 0px 3px 8px rgba(25, 110, 205, 0.35), 0px 3px 4px rgba(0, 0, 0, 0.15)
    &-default
        color: #212529
        background: #DADADA
        box-shadow: 0px 3px 8px rgba(25, 110, 205, 0.35), 0px 3px 4px rgba(0, 0, 0, 0.15)

    &[disabled], &.disabled
        background-color: #616463 
        pointer-events: none
        box-shadow: none
        color: rgba(255,255,255,0.5)
