$radius: 4px
.field-name
    display: block
    margin-bottom: 8px
    font-weight: normal
    font-size: 14px
    line-height: 16px
.field
    height: 46px
    border-radius: $radius
    border: 1px solid rgba(0, 0, 0, 0.06)
    box-shadow: inset 2px 2px 8px rgba(0, 0, 0, 0.25)
    background-color: #ffffff
    width: 100%
    padding: 0 15px
    font-size: 14px
    color: #262C32
    line-height: 1.5
    display: block

        

    option
        padding: 10px
    & ~ [class^="icn-"]
        position: absolute
        z-index: 99
        height: 44px
        bottom: 17px
        right: 1px
        width: 30px
        // background: #fff
        border-radius: 0 $radius $radius 0
        
        color: #ccd3d9
        font-size: 11px
        pointer-events: none   

    &::-webkit-input-placeholder
        opacity: 1
        color: #ababab
        
    &::-moz-placeholder
        opacity: 1
        color: #ababab
        
    &:-ms-input-placeholder
        opacity: 1
        color: #ababab
        
    &:-moz-placeholder
        opacity: 1
        color: #ababab
    &:focus
        outline: none
        // border: 1px solid #79b0f8
        // &::-webkit-input-placeholder
        //     color: rgba(0,0,0,0)
        // &::-moz-placeholder
        //     color: rgba(0,0,0,0)
        // &:-ms-input-placeholder
        //     color: rgba(0,0,0,0)
        // &:-moz-placeholder
        //     color: rgba(0,0,0,0)
        // & ~ [class^="icn-"]
        //     color: #0081ff 
    &.error
        border: 1px solid #D0021B
        box-shadow: inset 2px 2px 8px rgba(208, 1, 27, 0.5)
        color: #D0021B
        & ~ [class^="icn-"]
            color: #D0021B 
    &.disabled, &[disabled="disabled"]
        border: 1px solid #ccd3d9
        color: #c1c1c1
        background: #f7f7f7
        & ~ [class^="icn-"]
            color: #ccd3d9 
            // background: #f7f7f7
textarea.field
    padding: 10px 15px
    resize: none
    line-height: 12px
    height: 120px
.field-checkbox, .field-radio
    flex: 0 0 24px
    height: 24px
    
    margin-right: 7px
    background: #FFFFFF
    border: 1px solid rgba(0, 0, 0, 0.06)
    box-shadow: inset 2px 2px 8px rgba(0, 0, 0, 0.25)
    border-radius: 4px 

    i[class^="icn-"]
        font-size: 10px
        color: #1c6fde
        opacity: 0
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        align-items: center
        justify-content: center
        height: 100%
.field-radio
    border-radius: 16px
    i[class^="icn-"]
        margin-left: 1px
input[type="checkbox"], input[type="radio"]
    position: absolute
    left: -9999px
    opacity: 0
    &:checked
        & ~ .field-checkbox,
        & ~ .field-radio
            i[class^="icn-"]
                opacity: 1
    &.disabled, &[disabled="disabled"]
        & ~ .field-checkbox,
        & ~ .field-radio
            border: 1px solid #d7d7d7
            i[class^="icn-"]
                color: #b2b2b2
        & ~ .check-name
            color: #d7d7d7
    &.error
        & ~ .field-checkbox,
        & ~ .field-radio
            border: 1px solid #d0011b
            box-shadow: inset 2px 2px 8px rgba(208, 1, 27, 0.5)
            i[class^="icn-"]
                color: #d0011b
        & ~ .check-name
            color: #d0011b
            & * 
                color: #d0011b
.check-case
    -webkit-user-select: none
    -moz-user-select: none
    -ms-user-select: none
    user-select: none
    cursor: pointer
    color: #262C32
    font-size: 12px
    min-height: 40px
    display: flex
    align-items: center
    flex-basis: 100%
    .check-name
        flex: 1 1 auto
        a
           color: #1c6fde 
    // &:hover
    //     .field-checkbox, .field-radio
    //         border-color: #0081ff
.file-case
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    justify-content: space-between
    .btns
        margin-right: 10px
        display: flex
        align-items: center
        flex: 0 0 auto
    .field
        width: auto
        height: auto
        line-height: 1
        padding: 10px 15px
        flex: 1 1 auto
    input
        position: absolute
        top: 20px
        bottom: 20px
        width: 100%
        opacity: 0
        cursor: pointer
.field-case
    position: relative
    padding-bottom: 16px
    [class^="icn-"]
        display: flex
        align-items: center
        justify-content: center
    label.error
        white-space: nowrap
        overflow: hidden
        text-overflow: ellipsis
        margin: 0
        font-size: 10px
        flex-basis: 100%
        position: absolute
        color: #d0011b
        left: 0
        bottom: 3px
        
        line-height: 15px
        font-weight: normal