.plus
    background: #196ECD
    box-shadow: 3px 0px 8px rgba(0, 0, 0, 0.1)
    border-radius: 6px 0px 0px 6px
    width: 61px
    min-height: 49px
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    align-items: center
    justify-content: center
    color: #fff
    font-size: 22px
    &__plus
        display: flex
    &__minus
        display: none