.profitable
    text-align: right
    margin-bottom: 3px
    display: flex
    justify-content: flex-end
    span
        display: inline-block
        padding: 0 10px 
        color: #fff
        font-size: 9px
        line-height: 1.5
        font-weight: bold
        text-transform: uppercase
        background: linear-gradient(90deg, #BA0011 0%, #EB0016 53.59%, #BE1020 100%)