.rate
    display: inline-flex
    align-items: center
    justify-content: center
    box-shadow: inset 0px 3px 8px rgba(0, 0, 0, 0.15)
    width: 61px
    height: 54px
    font-size: 14px
    font-weight: bold
    &-default
        background: #E5E5E5
    &-success
        background: #71C392
    &-danger 
        background: #C37171
    &-done
        background: #1EBD5E
        color: #fff
    &-vip
        box-shadow: none
        span
            display: block
            font-size: 24px
            font-weight: 900
            color: #EB0016
            transform: rotate(45deg)